.board{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(8, 5em);
    grid-template-rows: repeat(8, 5em);
    border: 5px black solid;
}

.board img{
    width: 100%;
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}